.nav__container {
  width: 1344px;
  margin: 0 auto;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.colloborate__container {
  width: 1152px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(211, 232, 244, 1);
  border-radius: 10px;
}
