.flow {
  background-color: rgba(1, 58, 76, 1);

  &__wrapper {
    display: flex;
    gap: 48px;
    padding-bottom: 80px;
  }

  &__title {
    margin-top: 48px;
    font-size: 23px;
    font-weight: 400;
    color: white;
    line-height: 32px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 11px;
    color: white;
  }

  &__btn {
    padding: 11px 17px;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 208, 99, 1);
    border: 1px solid rgba(255, 208, 99, 1);
    transition: 0.3s ease-in-out;
    color: rgba(1, 58, 76, 1);
    border-radius: 4px;
    margin-top: 89px;
    cursor: pointer;

    &:hover {
      background-color: rgba(1, 58, 76, 1);
      color: rgba(255, 208, 99, 1);
      border: 1px solid rgba(255, 208, 99, 1);
    }
  }
}
